# Ogre Core Resources
[OgreInternal]
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\Main
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\RTShaderLib
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\Terrain\

# Resources required by OgreBites::Trays
[Essential]
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\SdkTrays.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\profiler.zip

# this line will end up in the [Essential] group
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\thumbnails

FileSystem=..\..\IG2Project\IG2Media

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
# PBR media must come before the scripts that reference it
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\PBR
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\PBR\filament

FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSL
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSL120
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSL150
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSL400
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\GLSLES
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\SPIRV
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\Cg
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\HLSL
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\programs\HLSL_Cg
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\scripts
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\textures
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\textures\terrain
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\models
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\particle
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\DeferredShadingMedia
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\DeferredShadingMedia\DeferredShading\post
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\PCZAppMedia
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\scripts\SSAO
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\materials\textures\SSAO
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\volumeTerrain
FileSystem=$$$\ogre-14.3.4-x64-debug\sdk\Media\CSMShadows
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\cubemap.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\cubemapsJS.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\dragon.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\fresneldemo.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\ogredance.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\Sinbad.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\skybox.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\volumeTerrain\volumeTerrainBig.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\DamagedHelmet.zip
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\filament_shaders.zip

[BSPWorld]
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\oa_rpg3dm2.pk3
Zip=$$$\ogre-14.3.4-x64-debug\sdk\Media\packs\ogretestmap.zip
